node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env.example
.editorconfig
.env.*.php
*.cache
.idea
.vscode
storage/logs/*
!storage/logs/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
database/factories
database/seeders
tests
.DS_Store
Thumbs.db
